body {
  color: #000000;
  background-color: #f9f9f9;
  font-family: "cambria", "helvetica", "Times New Roman";
}

h1 {
  color: #000000;
  border-style: double;
  border-width: 5px;
  border-color: #00ADEF;
}

table {
  font-weight: bold;
  border-style:double;
  border-width:5px;
}

img {
  border-style: double;
  border-color: #00ADEF;
  border-width: 5px;
}

a {
  color:#000000;
  text-decoration:none;
}

 
table.pictures {
  border: 0px;
  margin-right: 50px;
}
