body {
  color: #000000;
  background-color: #f9f9f9;
  font-family: "cambria", "helvetica", "Times New Roman";
}

h1 {
  color: #000000;
  border-style: double;
  border-width: 5px;
  border-color: #00ADEF;
}

j {
  color: #000000;
  border-style: double;
  border-width: 5px;
  border-color: #00ADEF;
  font-size: 2em;
  font-weight: bolder;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  font-weight: bold;
  border-style:double;
  border-width:5px;
}

img {
  border-style: double;
  border-color: #00ADEF;
  border-width: 5px;
}

a {
  color:#00ADEF;
  text-decoration:underline;
}

 
table.pictures {
  border: 0px;
  margin-right: 50px;
}
